<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    {% block header %}
    {% endblock %}
    <title>CA</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="InThread Logo" />
            </a>
            <form action="" id="search-box" method="POST"> <!-- https://stackoverflow.com/questions/5724817/adding-url-parameters-to-a-form-php-html -->
                <input type="text" id="search" name="search" />
                <button type="submit">SEARCH</button>
            </form>
            <a href="{{ url_for('login') }}">LOG IN</a>
            {% if not session.username %}
                <a href="{{ url_for('register') }}">SIGN UP</a>
            {% else %}
                <a href="{{ url_for('logout') }}">LOG OUT</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block main_content %}
        {% endblock %}
    </main>
</body>
</html>