<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    {% block header %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <!-- Searchbar -->
            <form action="/store" method="GET">
                <input type="text" id="search" name="search" value="{{ search }}" />
                <input type="submit" value="Search" />
            </form>
        </nav>
    </header>
    <main>
        {% block main_content %}
        {% endblock %}
    </main>
</body>
</html>