#intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    position: relative;

    min-height: 20vh;
    background-image: url('/static/images/intro_bckg.jpg');
    background-repeat: no-repeat;
    background-position: 0;
    backdrop-filter: blur(5px);
    z-index: 0;

    color: var(--color-card);

    &::before {
        /* i couldnt get the background image to blur so i resorted to this, i know its weird */
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-color: rgba(61, 32, 64, 0.35); /* color-accent but rgba for opacity */
        backdrop-filter: blur(4px);
    }
}