main {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title"
        "image"
        "cart"
    ;

    margin: 50px auto;

    background-color: var(--color-card);
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    color: var(--color-primary);

    padding: 0.2em 5em;

    & h1 {
        margin: 0 auto;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    & img {
        width: 20em;
        height: 20em;
    }
    & figcaption {
        text-align: center;
    }
    & a {
        background-color: var(--color-accent);
        color: var(--color-card);

        border-radius: 0.8em;
        margin: auto;
        padding: 0.4em 0.8em;

        font-size: 2em;

        text-decoration: none;

        box-shadow: 0 0 0 white;
        transition: box-shadow 0.25s, background-color 0.25s;

        &:hover {
            background-color: var(--color-hover);
            box-shadow: 5px 5px 5px lightgray;
        }
    }
}