{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block main_content %}
    {% if query %}
    <table>
        <tr>
            <th scope="col">order id</th>
            <th scope="col">user id</th>
            <th scope="col">product id</th>
            <th scope="col">quantity</th>
            <th scope="col">price per</th>
            <th scope="col">created at</th>
            <th scope="col">address</th>
            <th scope="col">notes</th>
        </tr>
        {% for order in query %}
            <tr>
                {% for property in order %}
                    <td>
                        {{ property }}
                    </td>
                {% endfor %}
                <td>
                    <a href="{{ url_for('cancel_order', o_id=order.orderid) }}">Cancel Order</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        You have no orders!
    </p>
    {% endif %}
{% endblock %}