{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/orders.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" />
{% endblock %}

{% block main_content %}
    <h1>Orders:</h1>
    <section>
        {% if query %}
        <table>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price (per)</th>
                <th scope="col">Placed On</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
            </tr>
            {% for order in query %}
                <tr>
                    {% for property in order %}
                        {% if not loop.index == 2 %}
                            <td>
                                {% if loop.index == 5 %}
                                    &euro;{{ property/100 }}
                                {% else %}
                                    {{ property }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('cancel_order', o_id=order.orderid) }}" class="cancel">Cancel</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>
            You have no orders!
        </p>
        <a href="{{ url_for('home_page') }}">Go Home</a>
        {% endif %}
    </section>
{% endblock %}