{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}" />
{% endblock %}

{% block main_content %}
    <h1>{{ product.name }}: &euro;{{ product.price_cents/100 }}</h1>
    <figure>
        <img src="{{ url_for('static', filename='images/products/'~product.image) }}" alt="An image of {{ product.name }}" />
        <figcaption>{{ product.description }}</figcaption>
    </figure>

    <a href="{{ url_for('add_to_cart', p_id=product.id) }}">Add to Cart</a>
    {% if session["is_admin"] == true %}
        <a href="{{ url_for('remove_product', p_id=product.id) }}" style="background-color: red;">Delete Product</a>
    {% endif %}
{% endblock %}