{% extends "base.html" %}
{% from "macros.html" import create_field %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}" />
{% endblock %}

{% block main_content %}
    <h1>Login:</h1>
    <section>
        <form action="" method="POST" novalidate class="inp">
            {{ form.hidden_tag() }}

            {{ create_field(form.username) }}
            <br />

            {{ create_field(form.password) }}
            <br />

            {{ form.submit() }}
        </form>
    </section>
    <p>
        {{ message }}
    </p>
{% endblock %}